@import "./global.css";

*{
  background-color: var(--light_green);
  color: var(--dark_green);
}

nav{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color:  var(--light_green);
}

#dashboard-about{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-left: 30rem;
    margin-right: 40px;
    font-weight: 500;
}

#nav-buttons{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}


#big-text{
    font-size: 5rem;
    letter-spacing: -4px;
    text-align: center;
    align-items: center;
    margin-top: 80px;
    font-weight: 600;
    line-height: 100px;

}

p{
    max-width: 800px;
    text-align: center;
    margin-top: 30px;
    margin-inline: auto;
    letter-spacing: -0.5px;
}

#get_started{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 35px;
}

.button-74 {
  background-color: var(--brown);
  border: 2px solid var(--dark_brown);
  border-radius: 30px;
  box-shadow: var(--dark_brown) 4px 4px 0 0;
  color: var(--dark_brown);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: var(--light_green);
}

.button-74:active {
  box-shadow: var(--dark_brown) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 100px;
    padding: 0 25px;
  }
}

#logo{
  font-weight: 600;
  font-size: 25px;
  width: 100%;
  font-style: italic;
}