@import "./global.css";


.form{
    background-color: var(--light_green);
    margin: 70px auto;
    width: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    color: var(--dark_green);
    border: 3px solid var(--dark_green);
}
.form h1{
    margin-bottom: 60px;
    
}
.form input{
    display: block;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border-color: var(--dark_green);
    border: 3px solid var(--dark_green);

}

.button-74 {
  background-color: var(--brown);
  border: 2px solid var(--dark_brown);
  border-radius: 10px;
  box-shadow:  4px 4px 0 0;
  color: var(--dark_brown);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 25px;
}

.button-74:hover {
  background-color: var(--light_green);
}

.button-74:active {
  box-shadow: var(--dark_brown) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 80px;
    padding: 0 25px;
  }
}

.form hr{
   height: 1px;
   width:300px; 
   margin-top: 80px;
   background-color: var(--dark_green);
   border: none;
   color: var(--dark_green);
}
.form p{
    margin-top: 10px;
    font-weight: 500;
    font-size: 0.7rem;
} 
.footer{
  position: relative;
  top:20px;
  text-align: center;
}